<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Age:</b>
  <%= @person.age %>
</p>

<p>
  <b>Status:</b>
  <%= @person.status %>
</p>

<p>
  <b>Parent:</b>
  <%= @person.parent.name unless @person.parent == nil %>
</p>

<p>
  <b>Impact:</b>
  <%= @person.descendants.count unless @person.descendants == nil %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
